:root {
    --main__color: #FF5634;
    --background__color: #FF5634;
    --background__primary-color: #FAFAFA;
    --background__secondary-color: #121212;
    --black__color: #000;
    --white__color: #fff; 
}
