.tracking {
    padding: 12rem 0;
    .tracking__primary-collage__background {
        position: relative;
        width: 37rem;
        height: 43rem;
        background-color: var(--main__color);
        border-radius: 2rem;
    }
    .tracking__primary-collage__app {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    .tracking__primary-collage__photo {
        position: absolute;
        z-index: 1;
        left: 12rem;
        top: 14rem;
    }
    .tracking__primary-info {
        padding-left: 3.5rem;
    }
    .tracking__primary-title {
        font-size: 2.75rem;
    }
    .tracking__primary-descr {
        line-height: 2rem;
        margin-top: 0.5rem;
    }
    .tracking__primary-item {
        margin-top: 2rem;
    }
    .tracking__primary-item__picture {
        padding-right: 1.5rem;
    }
    .tracking__primary-item__title {
        font-size: 1.5rem;
    }
    .tracking__primary-item__descr {
        font-size: 0.75rem;
        margin-top: 1rem;
        line-height: 2rem;
    }
    .tracking__secondary {
        margin-top: 12rem;
    }
    .tracking__secondary-info {
        padding-right: 3.5rem;
    }
    .tracking__secondary-title {
        font-size: 2.75rem;
    }
    .tracking__secondary-descr {
        line-height: 2rem;
        margin-top: 0.5rem;
    }
    .tracking__secondary-item {
        margin-top: 2rem;
    }
    .tracking__secondary-item__picture {
        padding-right: 1.5rem;
    }
    .tracking__secondary-item__title {
        font-size: 1.5rem;
    }
    .tracking__secondary-item__descr {
        font-size: 0.75rem;
        margin-top: 1rem;
        line-height: 2rem;
    }
    .tracking__secondary-collage__background {
        position: relative;
        width: 37rem;
        height: 43rem;
        background-color: var(--main__color);
        border-radius: 2rem;
    }
    .tracking__secondary-collage__app {
        position: absolute;
        top: 4rem;
        left: 12rem;
    }
    .tracking__secondary-collage__photo {
        position: absolute;
        z-index: 1;
        left: 4rem;
        top: 14rem;
    }
}