.features {
    margin: 12rem 0;
    scroll-margin-top: 12rem;
    &__container {
        text-align: center;
    }
    &__subtitle {
        width: 100%;
        font-size: 1.25rem;
        color: var(--main__color);
        text-transform: uppercase;
    }
    &__title {
        width: 100%;
        font-size: 2.75rem;
        margin-top: 0.5rem;
    }
    &__descr {
        width: 100%;
        font-size: 0.75rem;
        margin-top: 1.5rem;
    }
    &__info {
        margin-top: 2rem;
        flex-wrap: wrap;
    }   
    &__item {
        width: 22rem;
        height: 16rem;
        margin-top: 3rem;
    }
    &__item-title {
        font-size: 1.75rem;
        margin-top: 1.5rem;
    }
    &__item-descr {
        margin-top: 1.5rem;
    }
    &__buttons {
        width: 100%;
        margin-top: 3rem;
        * {
            margin: 0 0.5rem;
            height: 4rem;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .features {
        margin: 4rem 0;
        padding: 0 1rem;
        scroll-margin-top: 8rem;
        &__container {
            text-align: center;
        }
        &__info {
            justify-content: center;
        }
    }
}

@media screen and (min-width: 300px) and (max-width: 767.5px) {
    .features {
        margin: 4rem 0;
        padding: 0 1rem;
        scroll-margin-top: 6rem;
        &__descr {
            margin: 1rem auto;
            max-width: 15rem;
        }
        &__item-descr {
            max-width: 15rem;
        }
        &__item {
            width: auto;
        }
        &__container {
            text-align: center;
        }
        &__info {
            margin-top: 0;
            justify-content: center;
        }
        &__buttons {
            button:nth-child(2) {
                margin-top: 1rem;
            }
        }
    }
}
