.gallary {
    margin: 0 -6rem;
    scroll-margin-top: 9rem;
    background-color: var(--background__secondary-color);
    &__container {
        color: var(--white__color);
    }
    &__container-wrapper {
        width: 50%;
        padding: 0 7rem;
    }
    &__container-wrapper__title {
        font-size: 3rem;
        font-weight: 400;
    }
    &__container-wrapper__descr {
        font-size: 0.75rem;
        margin-top: 1.5rem;
        line-height: 2rem;
    }
    &__container-wrapper__load {
        background-color: var(--main__color);
        border: var(--main__color);
        height: 4rem;
        margin-top: 2rem;
    }
    &__container-background {
        overflow: hidden;
        height: 94rem;
        width: 50%;
        height: 54rem;
    }
    &__container-primary {
        margin-top: 8rem;
    }
    &__container-secondary {
        margin-bottom: 8rem;
    }
    &__container-item {
        margin: 1rem 0 1rem 2rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .gallary {
        margin: 0;
        scroll-margin-top: 9rem;
        &__container-wrapper {
            width: 75%;
            align-items: center;
            text-align: center;
            padding: 0 2rem;
        }
        &__container-wrapper__load {
            background-color: var(--main__color);
            border: var(--main__color);
            height: 4rem;
            margin-top: 2rem;
        }
        &__container-primary {
            display: none;
        }
        &__container-secondary {
            margin-right: 3rem;
        }
    }
}

@media screen and (min-width: 300px) and (max-width: 767.5px) {

}