.home {
    scroll-margin-top: 7rem;
    &__info {
        padding-right: 10rem;
    }
    &__subtitle {
        font-size: 1.25rem;
        color: var(--main__color);
        width: 100%;
        text-transform: uppercase;
        color: var(--main__color);
        text-align: left;
    }
    &__title {
        margin-top: 1.75rem;
        font-size: 4rem;
    }
    &__descr {
        font-size: 0.75rem;
        margin-top: 1rem;
        line-height: 2rem;
    }
    &__reg {
        width: 100%;
        margin-top: 2rem;
        border-bottom: 2px solid rgba(202, 202, 202, 0.4);
        padding-bottom: 4rem;
        &-btn {
            height: 4rem;
        }
        &-btn:last-child {
            margin-left: 1rem;
        }
    }
    &__stats {
        margin-top: 4rem;
        width: 100%;
    }
    &__stats-items {
        font-size: 3.5rem;
        font-weight: bold;
    }
    &__orange {
        color: var(--main__color);
        font-size: 3.5rem;
    }
    &__picture {
        height: 64rem;
        width: 50%;
        margin-right: -6rem;
        position: relative;
    }
    &__picture-delivery {
        position: absolute;
        left: -9rem;
        top: 10rem;
        transform: rotate(-1deg);
    }
    &__icons {
        width: 100%;
        padding-bottom: 9rem;
        border-bottom: 2px solid rgba(202, 202, 202, 0.4);
    }
    &__container {
        margin-bottom: 3rem;
        &-text {
            color: #656565;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .home {
        padding: 1rem;
        scroll-margin-top: 8rem;
        &__container {
            flex-direction: column;
        }
        &__info {
            padding-right: 0;
            text-align: center;
        }
        &__subtitle {
            text-align: center;
        }
        &__picture {
            margin-top: 2rem;
            margin-right: 2rem;
        }
        &__icons {
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 3rem;
            &-item {
                margin: 1rem;
            }
        }
        &__container {
            margin-bottom: 3rem;
            &-text {
                color: #656565;
            }
        }
    }
}

@media screen and (min-width: 300px) and (max-width: 767.5px) {

}