.menu {
  &__item {
      padding: 0 0.5rem;
      list-style: none;
      &:hover{
        color: var(--main__color);
        @include btn_anim(1.05,0.95);
      }
  }  
  &__link {
    text-decoration: none;
    color: var(--black_color);
  }
  &__icon {
    @include btn_anim(1.05,0.95);
    display: none;
    margin: 0 2rem;
    width: 3rem;
    height: 3rem;
    fill: #000;
  }
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}



@media screen and (min-width: 768px) and (max-width: 1439px) {
  ul {
    padding: 0;
  }
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 7.2rem;
    margin-left: -2rem;
    background-color: var(--white__color);
    box-shadow: 0px 2px 12px rgba(16, 16, 16, 0.08);
    animation: ani 0.5s forwards;
    &__item {
      margin: 0 auto;
      padding: 1rem 3rem;
      margin-top: 0.5rem;
    }
    &__icon {
      display: block;
    }
  }
  .active {
    display: flex;
  }
  
  .disable {
    display: none;
  }
}

@media screen and (min-width: 300px) and (max-width: 767.5px) {
  ul {
    padding: 0;
  }
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5.2rem;
    margin-left: -2rem;
    background-color: var(--white__color);
    box-shadow: 0px 2px 12px rgba(16, 16, 16, 0.08);
    animation: ani 0.5s forwards;
    &__item {
      margin: 0 auto;
      padding: 1rem 3rem;
      margin-top: 0.5rem;
    }
    &__icon {
      margin-right: 4rem;
      display: block;
    }
  }
  .active {
    display: flex;
  }
  
  .disable {
    display: none;
  }
}