.menu {
  &__item {
      padding: 0 0.5rem;
      list-style: none;
      &:hover{
        color: var(--main__color);
        @include btn_anim(1.05,0.95);
      }
      &:last-child {
        margin-left: 2rem;
        padding: 0 2rem 0 0;
      }
  }  
  &__link {
    text-decoration: none;
    color: var(--black_color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .menu {
    padding-left: 1.5rem;
    flex-wrap: wrap;
    &__item {
      padding: 0 0.4rem;
      margin-top: 0.5rem;
        &:last-child {
          margin-left: 0.5rem;
          padding: 0 0.5rem 0 0;
        }
    }  
  }
}

@media screen and (min-width: 300px) and (max-width: 767.5px) {

}