<div class="comments__item flex --dir-col">
    <div class="comments__item-wrapper flex">
        <img src="img/comments/@@picture.link.png" alt="photo-@@name" class="comments__item-picture">
        <div class="comments__item-info flex --dir-col">
            <h5 class="comments__item-name">
                @@name
            </h5>
            <p class="comments__item-place">
                @@place
            </p>
        </div>
        <div class="comments__item-subpicture"></div>
    </div>
    <div class="comments__item-descr">
        @@descr
    </div>
</div>