<section class="tracking flex --dir-col --align-center" id="tracking">
    <div class="tracking__primary flex --align-center just-center">
        <div class="tracking__primary-collage">
            <div class="tracking__primary-collage__background">
                <img src="img/app-tracking/app-primary.png" alt="app tracking" class="tracking__primary-collage__app">
                <img src="img/app-tracking/photo-primary.png" alt="app photo" class="tracking__primary-collage__photo">
            </div>
        </div>
        <div class="tracking__primary-info">
            <h2 class="tracking__primary-title">
                Hassle-free restaurant management
            </h2>
            <p class="tracking__primary-descr">
                Bibendum consectetur eu quis dignissim purus quis felis urna in enim elementum tellus amet ullamcorper ante in sollicitudin sollicitudin pellentesque
            </p>
            <div class="tracking__primary-item flex">
                <div class="tracking__primary-item__picture">
                    <img src="img/app-tracking/order.png" alt="order">
                </div>
                <div class="tracking__primary-item__wrapper flex --dir-col">
                    <h4 class="tracking__primary-item__title">
                        Order management
                    </h4>
                    <p class="tracking__primary-item__descr">
                        Aliquam vestibulum morbi blandit cursus risus atomol ultrices proin gravida hendrerit lectusa.
                    </p>
                </div>
            </div>
            <div class="tracking__primary-item flex">
                <div class="tracking__primary-item__picture">
                    <img src="img/app-tracking/pos.png" alt="pos">
                </div>
                <div class="tracking__primary-item__wrapper flex --dir-col">
                    <h4 class="tracking__primary-item__title">
                        POS integration
                    </h4>
                    <p class="tracking__primary-item__descr">
                        Lobortis elementum nibh tellus molestie nunc nonolfu celerisque fermentum dui faucibus inomle.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="tracking__secondary flex --align-center just-center">
        <div class="tracking__secondary-info">
            <h2 class="tracking__secondary-title">
                Super convenient for customers too
            </h2>
            <p class="tracking__secondary-descr">
                Bibendum consectetur eu quis dignissim purus quis felis urna in enim elementum tellus amet ullamcorper ante in sollicitudin sollicitudin pellentesque
            </p>
            <div class="tracking__secondary-item flex">
                <div class="tracking__secondary-item__picture">
                    <img src="img/app-tracking/cart.png" alt="cart">
                </div>
                <div class="tracking__secondary-item__wrapper flex --dir-col">
                    <h4 class="tracking__secondary-item__title">
                        Order from app
                    </h4>
                    <p class="tracking__secondary-item__descr">
                        Aliquam vestibulum morbi blandit cursus risus atomol ultrices proin gravida
                    </p>
                </div>
            </div>
            <div class="tracking__secondary-item flex">
                <div class="tracking__secondary-item__picture">
                    <img src="img/app-tracking/location.png" alt="location">
                </div>
                <div class="tracking__secondary-item__wrapper flex --dir-col">
                    <h4 class="tracking__secondary-item__title">
                        Delivery tracking
                    </h4>
                    <p class="tracking__secondary-item__descr">
                        Lobortis elementum nibh tellus molestie nunc nonolfu celerisque fermentum dui
                    </p>
                </div>
            </div>
        </div>
        <div class="tracking__secondary-collage">
            <div class="tracking__secondary-collage__background">
                <img src="img/app-tracking/app-secondary.png" alt="app tracking" class="tracking__secondary-collage__app">
                <img src="img/app-tracking/photo-secondary.png" alt="app photo" class="tracking__secondary-collage__photo">
            </div>
        </div>
    </div>
</section>