<section class="comments" id="comments">
    <div class="comments__container flex --dir-col">
        <div class="comments__info flex --just-space">
            <div class="comments__info-wrapper">
                <h2 class="comments__info-title">
                    What our clients say
                </h2>
                <p class="comments__info-descr">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit semper dalar elementum <br>tempus hac
                </p>
            </div>
            <div class="comments__info-buttons flex">
                @@include("../bem-blocks/button/_button.html", {
                    "class":{
                    "bem__elem":"comments__info-buttons__reg"
                    },
                    "type":"button",
                    "text":"Register restaurant"
                })
                @@include("../bem-blocks/button/_button.html", {
                    "class":{
                    "bem__elem":"comments__info-buttons__load"
                    },
                    "type":"button",
                    "text":"Download app"
                })
            </div>
        </div>
        <div class="comments__wrapper flex --align-center --just-space">
            <div class="comments__item flex --dir-col">
                <div class="comments__item-wrapper flex">
                    <img src="img/comments/comments-photo-1.png" alt="photo 1" class="comments__item-picture">
                    <div class="comments__item-info flex --dir-col">
                        <h5 class="comments__item-name">
                            John Carter
                        </h5>
                        <p class="comments__item-place">
                            Echo Park
                        </p>
                    </div>
                    <div class="comments__item-subpicture"></div>
                </div>
                <div class="comments__item-descr">
                    “Lorem ipsum dolor sit ametolil col consectetur adipiscing lectus a nunc mauris scelerisque
                </div>
            </div>
            <div class="comments__item flex --dir-col">
                <div class="comments__item-wrapper flex">
                    <img src="img/comments/comments-photo-2.png" alt="photo 2" class="comments__item-picture">
                    <div class="comments__item-info flex --dir-col">
                        <h5 class="comments__item-name">
                            Sophie Moore
                        </h5>
                        <p class="comments__item-place">
                            Hollywood Hills
                        </p>
                    </div>
                    <div class="comments__item-subpicture"></div>
                </div>
                <div class="comments__item-descr">
                    “Lorem ipsum dolor sit ametolil col consectetur adipiscing lectus a nunc mauris scelerisque
                </div>
            </div>
            <div class="comments__item flex --dir-col">
                <div class="comments__item-wrapper flex">
                    <img src="img/comments/comments-photo-3.png" alt="photo 3" class="comments__item-picture">
                    <div class="comments__item-info flex --dir-col">
                        <h5 class="comments__item-name">
                            Matt Cannon
                        </h5>
                        <p class="comments__item-place">
                            Little Tokyo
                        </p>
                    </div>
                    <div class="comments__item-subpicture"></div>
                </div>
                <div class="comments__item-descr">
                    “Lorem ipsum dolor sit ametolil col consectetur adipiscing lectus a nunc mauris scelerisque
                </div>
            </div>
            <div class="comments__item flex --dir-col">
                <div class="comments__item-wrapper flex">
                    <img src="img/comments/comments-photo-4.png" alt="photo 4" class="comments__item-picture">
                    <div class="comments__item-info flex --dir-col">
                        <h5 class="comments__item-name">
                            Lily Woods
                        </h5>
                        <p class="comments__item-place">
                            Melsore Avenue
                        </p>
                    </div>
                    <div class="comments__item-subpicture"></div>
                </div>
                <div class="comments__item-descr">
                    “Lorem ipsum dolor sit ametolil col consectetur adipiscing lectus a nunc mauris scelerisque
                </div>
            </div>
            <div class="comments__item flex --dir-col">
                <div class="comments__item-wrapper flex">
                    <img src="img/comments/comments-photo-5.png" alt="photo 5" class="comments__item-picture">
                    <div class="comments__item-info flex --dir-col">
                        <h5 class="comments__item-name">
                            Andy Smith
                        </h5>
                        <p class="comments__item-place">
                            Koreatown
                        </p>
                    </div>
                    <div class="comments__item-subpicture"></div>
                </div>
                <div class="comments__item-descr">
                    “Lorem ipsum dolor sit ametolil col consectetur adipiscing lectus a nunc mauris scelerisque
                </div>
            </div>
            <div class="comments__item flex --dir-col">
                <div class="comments__item-wrapper flex">
                    <img src="img/comments/comments-photo-6.png" alt="photo 6" class="comments__item-picture">
                    <div class="comments__item-info flex --dir-col">
                        <h5 class="comments__item-name">
                            Emily Williams
                        </h5>
                        <p class="comments__item-place">
                            Chinatown
                        </p>
                    </div>
                    <div class="comments__item-subpicture"></div>
                </div>
                <div class="comments__item-descr">
                    “Lorem ipsum dolor sit ametolil col consectetur adipiscing lectus a nunc mauris scelerisque
                </div>
            </div>
        </div>
    </div>
</section>