<section class="features" id="features">
    <div class="features__container flex --dir-col --just-center">
        <h4 class="features__subtitle">
            Our Features
        </h4>
        <h2 class="features__title">
            Learn why Deliver is great for<br> customers too!
        </h2>
        <p class="features__descr">
            Lorem ipsum dolor sit amet consectetur adipiscing elit tortor eu egestas morbi sem vulputate etiam facilisis pellentesque
        </p>
        <div class="features__info flex --align-center --just-space">
            <div class="features__item flex --dir-col --align-center --just-space">
                <img src="img/features/bike-delivery.png" alt="bike-delivery" class="features__item-pic">
                <h3 class="features__item-title">
                    Express delivery
                </h3>
                <p class="features__item-descr">
                    Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam.
                </p>
            </div>
            <div class="features__item flex --dir-col --align-center --just-space">
                <img src="img/features/cart-full.png" alt="cart-full" class="features__pic">
                <h3 class="features__item-title">
                    Safely delivered
                </h3>
                <p class="features__item-descr">
                    Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam.
                </p>
            </div>
            <div class="features__item flex --dir-col --align-center --just-space">
                <img src="img/features/discount.png" alt="discount" class="features__pic">
                <h3 class="features__item-title">
                    Special discounts
                </h3>
                <p class="features__item-descr">
                    Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam.
                </p>
            </div>
            <div class="features__item flex --dir-col --align-center --just-space">
                <img src="img/features/dish.png" alt="dish" class="features__pic">
                <h3 class="features__item-title">
                    More dishes
                </h3>
                <p class="features__item-descr">
                    Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam.
                </p>
            </div>
            <div class="features__item flex --dir-col --align-center --just-space">
                <img src="img/features/house.png" alt="house" class="features__pic">
                <h3 class="features__item-title">
                    Exclusive restaurants
                </h3>
                <p class="features__item-descr">
                    Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam.
                </p>
            </div>
            <div class="features__item flex --dir-col --align-center --just-space">
                <img src="img/features/bag.png" alt="bag" class="features__pic">
                <h3 class="features__item-title">
                    And much more!
                </h3>
                <p class="features__item-descr">
                    Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam.
                </p>
            </div>
        </div>
        <div class="features__buttons">
            @@include("../bem-blocks/button/_button.html", {
                "class":{
                "bem__elem":"features__buttons-reg"
                },
                "type":"button",
                "text":"Register restaurant"
            })
            @@include("../bem-blocks/button/_button.html", {
                "class":{
                "bem__elem":"features__buttons-load"
                },
                "type":"button",
                "text":"Download app"
            })
        </div>
    </div>
</section>