<section class="info" id="info">
    <div class="info__container flex --align-center --just-space">
        <div class="info__container-wrapper flex --dir-col --just-space">
            <h2 class="info__container-wrapper__title">
                Start attracting more clients today!
            </h2>
            <p class="info__container-wrapper__descr">
                Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam neque ultrices.
            </p>
            @@include("../bem-blocks/button/_button.html", {
                "class":{
                "bem__elem":"info__container-wrapper__reg"
                },
                "type":"button",
                "text":"Register restaurant"
            })
        </div>
        <div class="info__container-background">
            <img src="img/info-section/info-section__1.png" alt="mobile app" class="info__container-background__primary">
            <img src="img/info-section/info-section__2.png" alt="mobile app" class="info__container-background__secondary">
        </div>
    </div>
</section>